$border-radius-base: 100px;
$brand-primary: #f0ad4e;
$brand-success: #16a3b5;
$brand-warning: #f1734d;
$input-border-focus: #999;
$font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$input-bg: transparent;
$input-border-radius: 0;
