body.dashboard {
  .form-group {
    margin: 0;
    background: #fff;
    border-radius: 2px;
  }

  .form-control {
    border: 0;
    border-bottom: 1px solid $input-border;
    box-shadow: none;
    padding: 25px;
    border-color: $gray-lighter;
    font-size: 1.2em;
    color: #999;

    &:focus {
      box-shadow: none;
      border-color: $gray-lighter;
      color: $gray-darker;
    }
  }

  .actions {
    padding-top: 20px;
  }

  .saved-status {
    line-height: 36px;
    padding-right: 10px;
    text-transform: uppercase;
    color: $gray-light;
    font-size: 13px;

    &.errored {
      color: $brand-danger;
    }
  }
}
