.nav-wrapper {
  background: #fff;
  padding-bottom: 20px;
  margin-bottom: 40px;

  nav.navbar {
    margin-top: 30px;
    margin-bottom: 0;
    background: none;
    border: 0;
    background: none;

    li a { border-radius: 3px; }
    li.active a {
      background-color: #f9f9f9;
    }
  }
  @media (min-width: $screen-sm-min) {
    .navbar-brand { padding-left: 0 }
  }
}
