.project-form {
  #images {
    position: relative;

    .add_fields {
      position: absolute;
      right: 101%;
      top: 100%;
      white-space: nowrap;
    }

    .nested-fields {
      position: relative;

      .column-half-size {
        float: left;
        width: 50%;
        &:first-child {
          border-right: 1px solid #eee;
        }
      }

      .remove_fields {
        position: absolute;
        left: 102%;
        top: 30%;
      }
    }
  }
}
