.sign-box {
  max-width: 400px;
  margin: 0 auto;

  .inner {
    padding: 10px;
    margin: 20px;

    #error_explanation {
      h2 {
        font-size: 1.5em;
        color: $gray-light;
        margin-top: 0;
      }
      ul {
        list-style: square;
        margin: 20px 0;
      }
    }

    .footer-links {
      margin-top: 14px;
      padding-top: 6px;

      a {
        display: inline-block;
        margin-right: 12px;
      }
    }
  } /* inner */
}
