= javascript_include_tag 'ace/ace'
javascript:
  var editor = ace.edit('#{id}_editor');
  editor.setTheme("ace/theme/chrome");
  editor.getSession().setMode("ace/mode/html");
  editor.getSession().setUseSoftTabs(true);
  editor.getSession().setTabSize(2);
  editor.getSession().on('change', function(e) {
    $('##{id}').val(editor.getValue());
  });
